.tableHeader {
    padding: 10px;
    font-size: x-large;
    border-style: solid;
    border-radius: 1px;
    border-color: lightslategrey;
}

.tableRow {
    padding: 10px;
    font-size: x-large;
    background-color: #e1e1e1;
}
.addButton {
    width: 150px;
    height: 50px;
}
