.bodyWrapper {
  display: flex;
}

.sideBar {
  display: flex;
  flex-direction: column;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 20px;

  background: #c5c5c5;
}

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25%;
}

.content {
  width: 100%;
}

.contentWrapper {
  padding-left: 10px;
}

.calender {
  width: 350px;
  display: flex;
  background-color: #888888;
}
