.bodyWrapper {
  display: flex;
}

.sideBar {
  display: flex;
  flex-direction: column;
}

.drawerWrapper {
  padding-left: 10px;
  margin-left: 10px;
}

.content {
  width: 100%;
}

.contentWrapper {
  padding-left: 10px;
}

.calender {
  width: 350px;
  display: flex;
}
