.bodyWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sideBar {
  display: flex;
  flex-direction: column;

  background: #c5c5c5;
}

.content {
  width: 100%;
}

.contentWrapper {
  padding-left: 10px;
}
