.cardWrapper {
  margin: 10px;
  padding: 10px;
  width: 85%;
}

.flexAlignContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexContainer {
  display: flex;
}

.buttonContainer {
  width: 120px;
  height: 50px;
}

.addButton {
  width: 120px;
  height: 50px;
}

.separateVDiv {
  height: 30px;
}

.separateHDiv {
  width: 30px;
}

.dateContainer {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
.topDateContainer {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 18px;
}

.employeeRowDiv{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  align-items: center;
}
