.cardWrapper{
    margin: 10px;
    padding: 10px;
    width: 85%;
}

.flexAlignContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexContainer {
    display: flex;
}

.buttonContainer{
    width: 80px;
    height: 50px;
}

.addButton {
    width: 120px;
    height: 50px;
}

.separateHDiv{
    height: 50px;
}

.separateVDiv{
    width: 50px;
}

